$color-bg: #fdfae9;
$color-0: #f7e791;
$color-1: #ecbb23;
$color-2: #d9a648;
$color-3: #a66312;
$color-4: #6b3b18;
$color-5: #3e1e0a;
$color-box: rgba(235, 175, 64, 0.37);

$fc-w: #ffffff;
$fc-b: #000000;

$fs-1: 1.125rem;
$fs-2: 1.25rem;
$fs-3: 1.5rem;
$fs-4: 2rem;
$fs-5: 3.125rem;
$fs-6: 3.75rem;
$fs-7: 7rem;

$fw-1: 300;
$fw-2: 400;
$fw-3: 500;
$fw-4: 700;

$ff-1: "Inter", sans-serif;
$ff-2: "Goldman", serif;